/* Estils per el llistat de polítics */
.politics-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.politician {
    display: flex;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    background-color: #CCCCCC; /* Fons gris clar */
    padding: 10px;
    border-radius: 5px; /* Bordes rodons */
}

.politician:hover {
    transform: scale(1.05); /* Agrandar al passar el cursor */
}

.politician-info {
    flex: 1;
}


.politician-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: filter 0.3s;
    max-height: 300px;
}

.politician:hover .politician-photo img {
    filter: grayscale(0%) brightness(120%);
}