h1 {
    margin-left: 20px;
    margin-top: 20px;
}

body {
    background-color: lightblue;
    font-family: verdana;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinear */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00ff00; /* Verd al passar el cursor */
}

.selected {
    font-weight: bold; /* Text en negreta per l'opció seleccionada */
}

/* Estils per seccions*/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura del viewport */
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column p {
    text-align: center;
}

.section1, .section3 {
    background-color: #CCCCCC;
}

.section2 {
    background-color: #ffffff;
}


/* Estils per el llistat de polítics */
.politics-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

.politician {
    display: flex;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    background-color: #CCCCCC; /* Fons gris clar */
    padding: 10px;
    border-radius: 5px; /* Bordes rodons */
}

.politician:hover {
    transform: scale(1.05); /* Agrandar al passar el cursor */
}

.politician-info {
    flex: 1;
}


.politician-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: filter 0.3s;
    max-height: 300px;
}

.politician:hover .politician-photo img {
    filter: grayscale(0%) brightness(120%);
}

/* Estils per reunions */
.meetings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
}

.meeting-card {
    background-color: #CCCCCC;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    width: calc(33.33% - 20px); /* Ajusta según el diseño deseado */
    padding: 20px;
}

.meeting-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.meeting-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.meeting-title {
    font-size: 1.5em;
    margin: 0;
}

.meeting-details p {
    margin: 0 0 10px 0;
}

.meeting-details p strong {
    font-weight: bold;
}

/* Estils per PartitsPolitics */

.politic-party-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.politic-party-card {
    margin-bottom: 20px;
    position: relative;
    width: 400px; /* Ancho mayor para la tarjeta */
    height: 300px; /* Altura mayor para la tarjeta */
    background-color: #cccccc; /* Color de fondo */
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.politic-party-card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column; /* Para apilar el contenido verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.politic-party-leader,
.politic-party-information {
    padding: 20px;
    text-align: center;
}

.politic-party-information {
    margin-top: 20px; /* Espacio entre el líder y la información adicional */
}
