{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="container mt-3">
        <div class="row section1">
            <div class="column">
                <img src={% static 'images/Logo.jpg' %} alt="Logo">
                <h2>PoliticNow</h2>
            </div>
            <div class="column">
                <p>PoliticNow fou una idea generada per 3 emprenedors Joves
                    que busquen poder mantenir al públic interessat en afers pólitics al dia.
                    Va ser fundada per Adrià Creus, Marc Ferreres i Juan Carlos Turégano el 2024</p>
            </div>
        </div>
        <div class="row section2">
            <div class="column">
                <p>Descobreix quins són els nostres representants actuals en el país Espanyol i quins són els partits
                    que representen a la ciutadania</p>
            </div>
            <div class="column">
                <img src="{% static 'images/presis.jpg' %}" alt="Foto">
            </div>
        </div>
        <div class="row section3">
            <div class="column">
                <img src="{% static 'images/reunio.jpg' %}" alt="Foto">
            </div>
            <div class="column">
                <p>Estiguis al dia de totes les reunions i esdeveniments que poden marcar una diferencia en l'actualitat
                    política espanyola </p>
            </div>
        </div>
    </div>
{% endblock %}
