{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Llistat de Polítics</h1>
<div class="flex-container align-content-center mt-4">
    {% for politic in politics %}
        <div class="  pl-4 row d-flex politician mx-5">
            <div class="politician-info col-8">
                <h2>{{ politic.firstname }} {{ politic.lastname }}</h2>
                <p><strong>Càrrec:</strong> {{ politic.carrec }}</p>
                <p><strong>Partit:</strong> {{ politic.partit }}</p>
                <p><strong>Descripció:</strong> {{ politic.description }}</p>
            </div>
            <div class="politician-photo col-4">
                <img src="{% static 'images/paco.jpg' %}" alt="Foto de {{ politic.firstname }} {{ politic.lastname }}">
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
