{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Llistat de Reunions</h1>

<div class="meetings-container mt-4">
    {% for reunio in reunions %}
        <div class="meeting-card">
            <div class="meeting-header">
                <h2 class="meeting-title">{{ reunio.subject }}</h2>
            </div>
            <div class="meeting-details">
                <p><strong>Data i hora:</strong> {{ reunio.date }}</p>
                <p><strong>Ubicació:</strong> {{ reunio.ubication }}</p>
                <p><strong>Participants:</strong> {{ reunio.members }}</p>
                <p><strong>Descripció:</strong> {{ reunio.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}